<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="monsterHealthBarStyles"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style=" playerHealthBarStyles"></div>
      </div>
    </section>
    <section v-if="winner" class="container">
      <h2>Game Over</h2>
      <p v-if="winner == player.name">
        {{ player.name }} won the fight
      </p>
      <p v-else-if="winner == enemy.name">
        {{ enemy.name }} won the fight
      </p>
      <p v-else="winner == 'Draw'">
        It's a draw
      </p>
      <button @click="startGame">Start New Game</button>

    </section>
    <section id="controls" v-else>
      <button @click="playerAttackMonster">ATTACK</button>
      <button :disabled="specialAvailable" @click="specialPlayerAttack">SPECIAL ATTACK</button>
      <button @click="healPlayer">HEAL</button>
      <button @click="surrender">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul v-for="battleEvent in battleLog" :key="index">
        <!-- why doesn't 'log--player': battleEvent.instigator === 'player.name' work here? are key/value pairs in the data object inaccessible in v-for loops??? i would prefer to generate classes in computed before binding-->



        <li>
          <span
            :class="{'log--player': battleEvent.instigator === 'Player', 'log--monster': battleEvent.instigator === 'Monster'}">{{battleEvent.instigator + ' '
            }}</span>
          <span
            :class="{'log--damage': battleEvent.actionType === 'attacked' || 'special attacked', 'log--heal': battleEvent.actionType === 'healed'}">
            {{battleEvent.actionType + ' '}}
          </span>

          <span
            :class="{'log--player': battleEvent.target === 'Player', 'log--monster': battleEvent.target === 'Monster'}">{{battleEvent.target + ' '}}
          </span>
          for

          <span
            :class="{'log--damage': battleEvent.actionType === 'attacked' || 'special attacked', 'log--heal': battleEvent.actionType === 'healed'}">
            {{
              `${battleEvent.value} ${battleEvent.valueType}`
            }}</span>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>